.wrap {
    width: 380px;
}

#address {
    display: block;
    margin: 0 0 16px;
    padding: 10px 15px;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 24px;
    gap: 8px;
}